[defaults]
host_key_checking = False
nocows = 1
ansible_managed = This file is managed by Ansible. Last modified on %Y-%m-%d %H:%M:%S
roles_path = roles
# This is not safe and must be used only for cases when ${HOME} is located
# on a network file system with specifically configured permissions, so that become_user
# (usually root) can not read user's files if they 0600, 0700.
remote_tmp = /tmp/.ansible-${USER}/tmp

[ssh_connection]
pipelining = True
